footer {
  color: var(--light-letter);
  font-size: 12px;
  height: 60px;
  line-height: 60px;
  padding: 1.75rem 0;
  text-align: center;
}
footer hr {
  border: 1px solid var(--light-background);
  margin: 0 auto;
  width: 50%;
}
