:root {
  --background: #202423;
  --border-light: #a1fff11b;
  --cmd-arr: #2dc7e2;
  --cmd-const: #4c68e3;
  --cmd-green: #6eff76;
  --cmd-line: #595959;
  --cmd-num: #66c3e6;
  --cmd-objet: #00aaff;
  --cmd-prop: #7fd0ff;
  --cmd-red: #ff0000;
  --cmd-tab: #e54ee0;
  --cmd-text: #f09939;
  --cmd-yellow: #ffd500;
  --dark-background: #121514;
  --focus-background: #00ffd9;
  --letter: #ffffff;
  --light-background: #414645;
  --light-letter: #ffffffa2;
  --light-shadow: #a1fff144;
  --shadow: #00000044;
  scroll-behavior: smooth;
}
[data-theme='light'] {
  --background: #f5f5f5;
  --border-light: #7eeff342;
  --cmd-arr: #25b3cc;
  --cmd-const: #3950b8;
  --cmd-num: #00a1db;
  --cmd-objet: #0085c7;
  --cmd-prop: #0da6ff;
  --cmd-tab: #a72fa3;
  --cmd-text: #e0831f;
  --dark-background: #fcfcfc;
  --focus-background: #00c3ff;
  --letter: #29312f;
  --light-background: #ffffff;
  --light-letter: #454545;
  --light-shadow: #70dffbde;
  --shadow: #00000012;
}
::-webkit-scrollbar {
  background-color: var(--background);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--focus-background);
}
::selection {
  background-color: var(--focus-background);
  color: var(--light-background);
}
* {
  box-sizing: border-box;
  color: var(--letter);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
body {
  background-color: var(--background);
  position: relative;
}
.main {
  width: 100%;
  margin: auto;
}

/* ------------------ TEXT DECORATION ANIMATED ------------------ */

.text-decoration-animated {
  animation: text-decoration-in 0.5s cubic-bezier(0.694, 0, 0.335, 1) forwards;
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 51% 3px, 50% 3px;
  bottom: 0;
  position: relative;
}
.text-decoration-animated:hover {
  animation: text-decoration-out 0.3s cubic-bezier(0.694, 0, 0.335, 1) forwards;
}
.text-decoration-animated i {
  margin-left: 5px;
  transition: transform 0.25s 0.3s cubic-bezier(0, 0, 0.5, 2);
}
.text-decoration-animated:hover i {
  transform: translateX(6px);
}

@keyframes text-decoration-in {
  0% {
    background-position: -200% 75%, -100% 75%;
  }
  100% {
    background-position: 0 75%, 100% 75%;
  }
}

@keyframes text-decoration-out {
  0% {
    background-position: 0 75%, 100% 75%;
  }
  100% {
    background-position: 205% 75%, 300% 75%;
  }
}

.text-decoration-animated-p {
  animation: text-decoration-in-p 0.5s cubic-bezier(0.694, 0, 0.335, 1) forwards;
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 51% 1px, 50% 1px;
  bottom: 0;
  cursor: default;
  position: relative;
}
.text-decoration-animated-p:hover {
  animation: text-decoration-out-p 0.3s cubic-bezier(0.694, 0, 0.335, 1) forwards;
}
.text-decoration-animated-p i {
  margin-left: 5px;
  transition: transform 0.25s 0.3s cubic-bezier(0, 0, 0.5, 2);
}
.text-decoration-animated-p:hover i {
  transform: translateX(6px);
}

@keyframes text-decoration-in-p {
  0% {
    background-position: -200% 105%, -100% 105%;
  }
  100% {
    background-position: 0 105%, 100% 105%;
  }
}

@keyframes text-decoration-out-p {
  0% {
    background-position: 0 105%, 100% 105%;
  }
  100% {
    background-position: 205% 105%, 300% 105%;
  }
}

/* -------------------------- NAV -------------------------- */

nav {
  align-items: flex-start;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
  width: 0;
  z-index: 100;
}
nav[class='active'] {
  background-color: var(--shadow);
  border-right: 1px solid var(--shadow);
  width: 350px;
}
nav[class='active'] #nav-title {
  opacity: 0;
}
#nav-content {
  margin-left: 60px;
  min-width: 200px;
  padding: 0 0 90px;
}
#nav-content ul {
  font-size: 36px;
  line-height: 3;
}
#nav-content a {
  color: var(--focus-background);
  display: inline-block;
  font-weight: 700;
}
#nav-content .fa-arrow-right {
  color: var(--focus-background);
  font-size: 22px;
  margin-left: 5px;
}
.nav-arrow {
  transform: rotate(-90deg);
}
.btn-Nav {
  align-items: center;
  background-color: var(--background);
  border-radius: 50%;
  display: flex;
  height: 45px;
  justify-content: center;
  left: 15px;
  padding: 10px;
  position: fixed;
  top: 10px;
  width: 45px;
  z-index: 300;
}
.nav-bars {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-around;
  transition: 0.2s ease-in-out;
  width: 30px;
}
.btn-active {
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
}
.btn-active .bar {
  background-color: var(--focus-background);
}
.btn-active .bar:nth-child(1) {
  transform: rotate(90deg) translate(5px);
}
.btn-active .bar:nth-child(2) {
  transform: translateY(-5px);
}
.bar {
  background-color: var(--letter);
  height: 2px;
  transition: 0.2s ease-in-out;
  width: 90%;
}
#nav-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  margin-left: 10px;
  position: absolute;
  top: 38%;
  transition: 0.2s;
}
.nav-logo {
  background-size: cover;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 0 5px var(--shadow);
  display: block;
  height: 30px;
  left: 15px;
  position: absolute;
  width: 30px;
}

/* -------------------------- TOGGLE THEME -------------------------- */

.toggle-theme {
  background: none;
  border: none;
  bottom: 0px;
  color: var(--focus-background);
  cursor: pointer;
  font-size: 18px;
  left: 75%;
  margin: 22px;
  position: absolute;
}
/* -------------------------- HEADER -------------------------- */

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}
.social-ul-mobile {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  margin: 10px auto 0;
  width: 150px;
}
.social-ul {
  align-items: center;
  bottom: 80px;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0px;
}
.social-ul hr {
  border: 1px solid var(--light-letter);
  margin-top: 30px;
  transform: rotate(90deg);
  width: 60px;
}
.social-ul li {
  font-size: 16px;
  margin: 5px 15px;
}
.social-ul i {
  color: var(--light-letter);
}
.social-ul a:hover i {
  color: var(--focus-background);
}
.card-perfil h1 {
  font-size: 28px;
}
.card-perfil h2 {
  color: var(--light-letter);
  font-size: 18px;
}
.card-perfil h2:first-child {
  color: var(--focus-background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-perfil .h3 {
  align-items: center;
  color: var(--light-letter);
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  font-weight: 700;
  justify-content: center;
  position: relative;
}
.card-perfil .rotate-words {
  background-color: var(--focus-background);
  border-radius: 5px;
  box-shadow: 0 0 15px var(--shadow);
  display: inline;
  font-size: 12px;
  height: 30px;
  margin-left: 10px;
  min-width: 100px;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  width: 150px;
}
.rotate-words span {
  color: var(--light-background);
  font-family: sans-serif;
  font-weight: 900;
  left: 12px;
  opacity: 0;
  position: absolute;
  top: -100%;
  transform-origin: 10% 75%;
}
.rotate-words span:first-child {
  animation: show-down 12s ease-in-out infinite;
}
.rotate-words span:nth-child(0n + 2) {
  animation: show-down 12s 4s ease-in-out infinite;
}
.rotate-words span:last-child {
  animation: show-down 12s 8s ease-in-out infinite;
}
@keyframes show-down {
  0% {
    top: -100%;
    opacity: 1;
  }
  5%,
  35% {
    top: 6px;
  }
  38% {
    top: 100%;
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

/* -------------------------- PERFIL IMAGEN -------------------------- */

.img-perfil {
  position: relative;
  top: 30px;
}
.img-perfil img {
  border-radius: 50%;
  box-shadow: 0 0 30px var(--shadow);
  height: 190px;
  width: 190px;
}
.img-perfil::before {
  background-color: var(--focus-background);
  border-radius: 50%;
  box-shadow: 0 0 15px var(--shadow);
  content: '';
  height: 100px;
  left: -20px;
  position: absolute;
  top: 120px;
  width: 100px;
  z-index: -1;
}
.img-perfil::after {
  border-radius: 50%;
  box-shadow: 120px 10px 400px var(--light-shadow);
  content: '';
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 190px;
  z-index: -2;
}

/* -------------------------- ARROW & LANG FORM -------------------------- */

.see-more {
  bottom: 0;
  position: absolute;
}
.arrow {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 40px;
}
.line-arrow {
  background-color: var(--focus-background);
  height: 2px;
  margin: 0 -3.5px;
  width: 20px;
}
.line-arrow:nth-child(1) {
  transform: rotate(45deg);
}
.line-arrow:nth-child(2) {
  transform: rotate(-45deg);
}
form[name='lang-form'] {
  position: absolute;
  right: 10px;
  top: 25px;
}
select {
  background-color: var(--light-background);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  outline: none;
  padding: 5px 10px;
}

/* --------------------------- SECTION -------------------------- */

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(90px);
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
#projects {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}
section .section-title {
  align-self: flex-start;
  font-size: 38px;
}
.item-primary {
  border-bottom: 1px inset var(--border-light);
  border-radius: 10px;
  border-right: 1px inset var(--border-light);
  box-shadow: 0 0 15px var(--shadow);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.projects-content {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 20px;
}
.projects-content:nth-child(2n) {
  flex-direction: row-reverse;
}
.section-info-projects {
  display: none;
  padding-top: 15px;
  width: 50%;
  position: relative;
}
.section-info-projects-02 {
  width: 195%;
}
.item-primary-mobile {
  display: none;
  background-color: #fafafa;
}
.view-project-links {
  position: absolute;
  bottom: 80px;
}
.item-primary video {
  height: 101%;
  width: 100%;
  object-fit: cover;
}
.item-see-more {
  background-color: var(--background);
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 10px var(--shadow);
  font-size: 9px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: -70px;
  transition: top 0.2s;
  width: 100px;
}
.item-primary:hover .item-see-more {
  top: 0;
}
.section-title-projects,
.section-info-about {
  max-width: 80%;
  padding: 0 10px;
  width: 100%;
}
.section-title-projects p,
.section-info-about {
  color: var(--light-letter);
  font-size: 18px;
  line-height: 1.4;
  margin: 15px 0;
  max-height: none;
}

.section-info-projects p {
  font-size: 10px;
  color: var(--light-letter);
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}
.section-info-about p {
  color: var(--light-letter);
}

/* --------------------------- ABOUT -------------------------- */

#about {
  flex-direction: row;
}
.about-info-cmd {
  background-color: var(--dark-background);
  border-radius: 30px;
  box-shadow: 0 0 15px var(--shadow);
  display: none;
  height: 310px;
  margin: 0 20px;
  padding: 30px 40px;
  position: relative;
  width: 80%;
}
.about-info-cmd::before {
  animation: moveShadowBefore 30s ease-in-out infinite;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 10px 100px 200px var(--light-shadow);
  content: '';
  height: 200px;
  left: 0;
  position: absolute;
  width: 200px;
  z-index: -1;
}
.about-info-cmd::after {
  animation: moveShadowAfter 30s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: -10px -100px 200px var(--light-shadow);
  content: '';
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: -1;
}
@keyframes moveShadowAfter {
  0% {
    box-shadow: -10px -100px 200px var(--light-shadow);
  }
  50% {
    box-shadow: -500px -50px 200px var(--light-shadow);
    height: 100px;
    width: 100px;
  }
  100% {
    box-shadow: -10px -100px 200px var(--light-shadow);
  }
}
@keyframes moveShadowBefore {
  0% {
    box-shadow: 10px 100px 200px var(--light-shadow);
  }
  50% {
    box-shadow: 500px 100px 200px var(--light-shadow);
    height: 100px;
    width: 100px;
  }
  100% {
    box-shadow: 10px 100px 200px var(--light-shadow);
  }
}
.cmd {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-top: -10px;
  width: 50px;
}
.cmd .circle {
  border-radius: 50%;
  height: 10px;
  margin: 2px;
  width: 10px;
}
.cmd .circle:nth-child(1) {
  background-color: var(--cmd-red);
}
.cmd .circle:nth-child(2) {
  background-color: var(--cmd-yellow);
}
.cmd .circle:nth-child(3) {
  background-color: var(--cmd-green);
}
.about-info-cmd p {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  word-spacing: 5px;
}
.about-info-cmd .const {
  color: var(--cmd-const);
}
.about-info-cmd .objet {
  color: var(--cmd-objet);
}
.about-info-cmd .arr {
  color: var(--cmd-arr);
}
.about-info-cmd .prop {
  color: var(--cmd-prop);
  margin-left: 20px;
}
.about-info-cmd .text {
  color: var(--cmd-text);
}
.about-info-cmd .num {
  color: var(--cmd-num);
}
.about-info-cmd .tab {
  color: var(--cmd-tab);
}
.about-info-cmd .line {
  color: var(--cmd-line);
}
.about-info-cmd .brack {
  color: var(--cmd-yellow);
}
.about-info-cmd .cursor {
  font-size: 14px;
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------- TOLS --------------------- */

.tag-list {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1.5rem 0;
  position: relative;
  overflow: hidden;
}

.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 90s;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.5rem;
  color: var(--letter);
  font-size: 1rem;
  background-color: var(--dark-background);
  border-radius: 10px;
  padding: 15px 30px;
  margin-right: 1.5rem;
  box-shadow: 0 0 15px var(--shadow);
}

.tag i {
  color: #414645;
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, var(--background), transparent 30%, transparent 70%, var(--background));
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* --------------------------------- CONTANCT --------------------------------- */

.section-contact {
  background-color: var(--dark-background);
  border-radius: 30px;
  box-shadow: 0 0 15px var(--shadow);
  margin: 0 20px;
  max-width: 1030px;
  padding: 30px;
  position: relative;
  width: 80%;
}
#contact h2 {
  font-size: 38px;
  margin-bottom: 10px;
}
.section-contact address {
  color: var(--letter);
  line-height: 2;
  margin: 20px 0;
}
.section-contact address a {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.section-contact-content h3 {
  color: var(--letter);
  font-size: 26px;
}
.section-contact-content p {
  color: var(--letter);
  font-size: 18px;
  line-height: 1.5;
  width: 90%;
}
.social-networks {
  font-size: 26px;
}
.section-contact::before {
  animation: light-move 12s ease-in-out infinite;
  border-radius: 50%;
  bottom: 0;
  box-shadow: -100px 100px 200px var(--light-shadow);
  content: '';
  height: 200px;
  left: 0;
  position: absolute;
  width: 200px;
  z-index: -1;
}
@keyframes light-move {
  0% {
    box-shadow: -100px 100px 200px var(--light-shadow);
  }
  10% {
    box-shadow: -80px 120px 200px var(--light-shadow);
  }
  15% {
    box-shadow: -75px 115px 200px var(--light-shadow);
  }
  20% {
    box-shadow: -100px 100px 200px var(--light-shadow);
  }
  30% {
    box-shadow: -85px 80px 200px var(--light-shadow);
  }
  40% {
    box-shadow: -110px 70px 200px var(--light-shadow);
  }
  50% {
    box-shadow: -120px 115px 200px var(--light-shadow);
  }
  60% {
    box-shadow: -90px 100px 200px var(--light-shadow);
  }
  80% {
    box-shadow: -95px 95px 200px var(--light-shadow);
  }
  100% {
    box-shadow: -100px 100px 200px var(--light-shadow);
  }
}

/* -------------------- FOOTER --------------------- */

footer {
  color: var(--light-letter);
  font-size: 12px;
  height: 60px;
  line-height: 60px;
  padding: 20px 0;
  text-align: center;
}
footer hr {
  border: 1px solid var(--light-background);
  margin: 0 auto;
  width: 50%;
}

/* ----------------- MEDIA QUERIES ----------------- */

@media (min-width: 806px) {
  .main {
    max-width: 1200px;
    padding-left: 60px;
    width: 90%;
  }
  .section-info-projects {
    display: block;
  }
  .item-primary-mobile {
    display: block;
  }
  nav {
    padding: 20px 15px;
    width: 60px;
  }
  .btn-Nav {
    background: none;
    height: 20px;
    padding: 0;
    top: 20px;
    width: 30px;
  }
  .header {
    flex-direction: row;
    height: 95vh;
    justify-content: space-between;
    text-align: start;
  }
  .card-perfil h1 {
    font-size: 38px;
  }
  .card-perfil h2 {
    font-size: 30px;
    line-height: 1;
  }
  .card-perfil .h3 {
    font-size: 30px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .social-ul-mobile {
    font-size: 18px;
    margin: 10px;
    width: 200px;
  }
  .img-perfil {
    top: 0;
  }
  .img-perfil img {
    height: 290px;
    width: 290px;
  }
  .img-perfil::before {
    height: 200px;
    left: -60px;
    top: 120px;
    width: 200px;
  }
  .img-perfil::after {
    box-shadow: -150px -100px 400px var(--light-shadow);
    height: 290px;
    width: 290px;
  }
  .see-more {
    right: 40px;
  }
  .about-info-cmd {
    display: block;
  }
  #tools .tools-icon {
    font-size: 58px;
  }
  .section-contact hr {
    width: 30%;
  }
  .section-contact-content p {
    width: 60%;
  }
  .tag-list {
    width: 80%;
    font-size: 2rem;
  }
}

@media (min-width: 980px) {
  .social-ul-mobile {
    display: none;
  }
  .social-ul {
    display: flex;
  }
  .section-info-projects p {
    font-size: 14px;
    line-height: 1.4;
  }
  .card-perfil h2 {
    font-size: 38px;
  }
  .card-perfil h1 {
    font-size: 48px;
  }
  .card-perfil .h3 {
    font-size: 38px;
  }
  .card-perfil .rotate-words {
    border-radius: 10px;
    font-size: 16px;
    height: 40px;
    margin-left: 10px;
    width: 200px;
  }
  @keyframes show-down {
    0% {
      top: -100%;
      opacity: 1;
    }
    5%,
    35% {
      top: 8px;
      opacity: 1;
    }
    38% {
      top: 100%;
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
  }
  .img-perfil img {
    height: 390px;
    width: 390px;
  }
  .img-perfil::before {
    height: 300px;
    left: -50px;
    top: 120px;
    width: 300px;
  }
  .img-perfil::after {
    box-shadow: -150px -100px 400px var(--light-shadow);
    height: 390px;
    width: 390px;
  }
  footer {
    font-size: 16px;
  }
}
@media (min-width: 1360px) {
  .img-perfil::before {
    left: -120px;
  }
  .section-info-projects-01 {
    width: 35%;
  }
  .item-primary-mobile {
    transform: translateY(-60px);
  }
  .social-ul hr {
    margin-top: 60px;
    width: 100px;
  }
  .social-ul li {
    font-size: 18px;
    margin: 15px;
  }
  section {
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .about-info-cmd {
    max-width: 795px;
    width: auto;
  }
  .item-primary {
    max-width: 780px;
  }
  .section-info-about {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    max-height: 320px;
    max-width: 250px;
    padding: 10px;
    text-align: end;
  }
  #about h2 {
    max-width: 900px;
  }
  #tools .tools-icon {
    margin: 40px;
    font-size: 62px;
  }
  .section-contact {
    width: 100%;
  }
  .tag-list {
    width: 100%;
    max-width: 1030px;
  }
  .tag {
    font-size: 1.8rem;
  }
}
@media (min-width: 1680px) {
  .main {
    max-width: 1580px;
  }
  .card-perfil h2 {
    font-size: 52px;
  }
  .card-perfil h1 {
    font-size: 62px;
  }
  .card-perfil .h3 {
    font-size: 52px;
    margin-top: 10px;
  }
  .card-perfil .rotate-words {
    border-radius: 10px;
    font-size: 28px;
    height: 70px;
    width: 330px;
  }
  .tag-list {
    width: 100%;
    max-width: 1350px;
  }
  @keyframes show-down {
    0% {
      top: -100%;
      opacity: 1;
    }
    5%,
    35% {
      top: 13px;
      opacity: 1;
    }
    38% {
      top: 100%;
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
  }
  .img-perfil img {
    height: 490px;
    width: 490px;
  }
  .img-perfil::before {
    height: 350px;
    left: -120px;
    top: 190px;
    width: 350px;
  }
  .img-perfil::after {
    box-shadow: -150px -100px 400px var(--light-shadow);
    height: 490px;
    width: 490px;
  }
  select {
    font-size: 12px;
  }
  .item-primary {
    max-width: 1010px;
  }
  .section-title-projects p {
    font-size: 26px;
    line-height: 1.2;
  }
  .section-info-title {
    font-size: 22px;
  }
  .section-info-projects p {
    font-size: 18px;
  }
  .about-info-cmd p {
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
  .about-info-cmd {
    background-color: var(--dark-background);
    box-shadow: 0 0 15px var(--shadow);
    height: 410px;
    margin: 0 20px;
    max-width: 1120px;
    padding: 30px 40px;
  }
  .section-info-about p {
    font-size: 18px;
    line-height: 1.2;
  }
  #tools .tools-icon {
    margin: 50px;
    font-size: 82px;
  }
  .section-contact {
    max-width: 1350px;
  }
  #contact h2 {
    font-size: 48px;
  }
  .section-contact hr {
    width: 70%;
  }
  .section-contact-content h3 {
    font-size: 36px;
  }
  .section-contact-content p {
    font-size: 26px;
    line-height: 1.2;
  }
}
