:root {
  scroll-behavior: smooth;
  --letter: #ffffff;
  --shadow: #00000044;
  --light-shadow: #a1fff144;
  --border-light: #a1fff11b;
  --background: #202423;
  --dark-background: #121514;
  --light-background: #414645;
  --focus-background: #00ffd9;
  --cmd-yellow: #ffd500;
  --cmd-green: #6eff76;
  --cmd-red: #ff0000;
  --cmd-const: #4c68e3;
  --cmd-objet: #00aaff;
  --cmd-arr: #2dc7e2;
  --cmd-prop: #7fd0ff;
  --cmd-text: #f09939;
  --cmd-num: #66c3e6;
  --cmd-tab: #e54ee0;
  --cmd-line: #595959;
}
[data-theme="light"] {
  --letter: #202423;
  --shadow: #00000012;
  --light-shadow: #70fbebde;
  --border-light: #7ef3e542;
  --background: #f3f2ef;
  --dark-background: #fcfcfc;
  --light-background: #ffffff;
  --focus-background: #2a9d8f;
  --cmd-const: #3950b8;
  --cmd-objet: #0085c7;
  --cmd-arr: #25b3cc;
  --cmd-prop: #0da6ff;
  --cmd-text: #e0831f;
  --cmd-num: #00a1db;
  --cmd-tab: #a72fa3;
}
::-webkit-scrollbar {
  background-color: var(--background);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--focus-background);
}
::selection {
  background-color: var(--focus-background);
  color: var(--light-background);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: var(--letter);
}
body {
  background-color: var(--background);
  position: relative;
}

/* ------------------ TEXT DECORATION ANIMATED ------------------ */

.text-decoration-animated {
  position: relative;
  background-repeat: no-repeat;
  animation: text-decoration-in 0.5s cubic-bezier(0.694, 0, 0.335, 1) forwards;
  bottom: 0;
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-size: 51% 3px, 50% 3px;
}
.text-decoration-animated:hover {
  animation: text-decoration-out 0.3s cubic-bezier(0.694, 0, 0.335, 1) forwards;
}
.text-decoration-animated i {
  margin-left: 5px;
  transition: transform 0.25s 0.3s cubic-bezier(0, 0, 0.5, 2);
}
.text-decoration-animated:hover i {
  transform: translateX(6px);
}

@keyframes text-decoration-in {
  0% {
    background-position: -200% 75%, -100% 75%;
  }
  100% {
    background-position: 0 75%, 100% 75%;
  }
}

@keyframes text-decoration-out {
  0% {
    background-position: 0 75%, 100% 75%;
  }
  100% {
    background-position: 205% 75%, 300% 75%;
  }
}

.text-decoration-animated-p {
  cursor: default;
  position: relative;
  background-repeat: no-repeat;
  animation: text-decoration-in-p 0.5s cubic-bezier(0.694, 0, 0.335, 1) forwards;
  bottom: 0;
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-size: 51% 1px, 50% 1px;
}
.text-decoration-animated-p:hover {
  animation: text-decoration-out-p 0.3s cubic-bezier(0.694, 0, 0.335, 1)
    forwards;
}
.text-decoration-animated-p i {
  margin-left: 5px;
  transition: transform 0.25s 0.3s cubic-bezier(0, 0, 0.5, 2);
}
.text-decoration-animated-p:hover i {
  transform: translateX(6px);
}

@keyframes text-decoration-in-p {
  0% {
    background-position: -200% 105%, -100% 105%;
  }
  100% {
    background-position: 0 105%, 100% 105%;
  }
}

@keyframes text-decoration-out-p {
  0% {
    background-position: 0 105%, 100% 105%;
  }
  100% {
    background-position: 205% 105%, 300% 105%;
  }
}

/* -------------------------- NAV -------------------------- */

nav {
  align-items: flex-start;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 0;
  transition: 0.2s ease-in-out;
  z-index: 100;
  overflow: hidden;
}
nav[class="active"] {
  width: 350px;
  border-right: 1px solid var(--shadow);
  background-color: var(--shadow);
}
nav[class="active"] #nav-title {
  opacity: 0;
}
#nav-content {
  min-width: 200px;
  margin-left: 60px;
  padding: 0 0 90px;
}
#nav-content ul {
  font-size: 36px;
  line-height: 90px;
}
#nav-content a {
  color: var(--focus-background);
  font-weight: 700;
  transition: 0.4s ease-in-out;
  display: inline-block;
  margin: 5px 0;
}
#nav-content .fa-arrow-right {
  color: var(--focus-background);
  font-size: 22px;
  margin-left: 5px;
}
.nav-arrow {
  transform: rotate(-90deg);
}
.btn-Nav {
  z-index: 300;
  left: 15px;
  top: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  width: 45px;
  height: 45px;
  background-color: var(--background);
}
.nav-bars {
  height: 20px;
  width: 30px;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s ease-in-out;
}
.btn-active {
  transition: 0.3s 0.2s ease-in-out;
  transform: rotate(45deg);
}
.btn-active .bar {
  background-color: var(--focus-background);
}
.btn-active .bar:nth-child(1) {
  transform: rotate(90deg) translate(5px);
}
.btn-active .bar:nth-child(2) {
  transform: translateY(-5px);
}
.bar {
  background-color: var(--letter);
  height: 2px;
  transition: 0.3s ease-in-out;
  width: 90%;
}
#nav-title {
  cursor: pointer;
  position: absolute;
  margin-left: 10px;
  top: 35%;
  line-height: 20px;
  transition: 0.2s;
}
.Contact-button {
  background-size: cover;
  position: absolute;
  bottom: 20px;
  left: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--shadow);
  display: block;
  height: 30px;
  width: 30px;
}

/* -------------------------- TOGGLE THEME -------------------------- */

.toggle-theme {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  color: var(--focus-background);
  font-size: 18px;
  bottom: 0px;
  left: 75%;
  margin: 22px;
  transition: 0.4s;
}
/* -------------------------- HEADER -------------------------- */

.main {
  width: 100%;
  margin: auto;
}
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 95vh;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.card-perfil h1 {
  font-size: 28px;
}
.card-perfil h2 {
  line-height: 20px;
  font-size: 18px;
}
.card-perfil .h3 {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 22px;
  margin-top: 5px;
}
.card-perfil .fab {
  font-size: 18px;
}
.card-perfil ul {
  padding-left: 10px;
}
.card-perfil ul li {
  display: inline-block;
  margin: 5px 10px;
}
.card-perfil a:hover i {
  color: var(--focus-background);
}
.card-perfil .rotate-words {
  display: inline;
  position: relative;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  min-width: 100px;
  font-size: 12px;
  margin-left: 5px;
  background-color: var(--focus-background);
  overflow: hidden;
  padding: 5px 10px;
}
.rotate-words span {
  position: absolute;
  left: 12px;
  opacity: 0;
  top: -100%;
  font-weight: 900;
  color: var(--light-background);
  transform-origin: 10% 75%;
}
.rotate-words span:first-child {
  animation: show-down 12s ease-in-out infinite;
}
.rotate-words span:nth-child(0n + 2) {
  animation: show-down 12s 4s ease-in-out infinite;
}
.rotate-words span:last-child {
  animation: show-down 12s 8s ease-in-out infinite;
}
@keyframes show-down {
  0% {
    top: -100%;
    opacity: 1;
  }
  5%,
  35% {
    top: 6px;
    opacity: 1;
  }
  38% {
    top: 100%;
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

/* -------------------------- PERFIL IMAGEN -------------------------- */

.img-perfil {
  position: relative;
  top: 30px;
}
.img-perfil img {
  border-radius: 50%;
  height: 190px;
  width: 190px;
  box-shadow: 0 0 30px var(--shadow);
}
.img-perfil::before {
  background-color: var(--focus-background);
  box-shadow: 0 0 15px var(--shadow);
  content: "";
  height: 100px;
  left: -20px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 120px;
  width: 100px;
}
.img-perfil::after {
  content: "";
  box-shadow: 120px 10px 400px var(--light-shadow);
  height: 190px;
  width: 190px;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
}

/* -------------------------- ARROW & IDIOM FORM -------------------------- */

.see-more {
  position: absolute;
  bottom: 0;
}
.arrow {
  width: 40px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.line-arrow {
  width: 20px;
  height: 2px;
  background-color: var(--focus-background);
  margin: 0 -3.5px;
}
.line-arrow:nth-child(1) {
  transform: rotate(45deg);
}
.line-arrow:nth-child(2) {
  transform: rotate(-45deg);
}
form[name="lang-form"] {
  position: absolute;
  top: 15px;
  right: 10px;
}
select {
  background-color: var(--light-background);
  border: none;
  font-size: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
}

/* --------------------------- SECTION -------------------------- */

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(90px);
  margin-bottom: 60px;
}
section .section-title {
  font-size: 38px;
  align-self: flex-start;
}
.item-primary {
  margin: 20px;
  border-radius: 30px;
  border-bottom: 1px inset var(--border-light);
  border-right: 1px inset var(--border-light);
  box-shadow: 0 0 15px var(--shadow);
  width: 80%;
  height: 300px;
  background-color: var(--light-background);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.item-see-more {
  position: absolute;
  font-size: 9px;
  width: 100px;
  box-shadow: 0 0 10px var(--shadow);
  transition: 0.2s;
  height: 60px;
  line-height: 60px;
  top: -70px;
  text-align: center;
  right: 40px;
  border-radius: 0 0 15px 15px;
  background-color: var(--background);
}
.item-primary:hover .item-see-more {
  top: 0;
}

.section-info-projects,
.section-info-about {
  margin: 30px 10px;
  padding: 10px;
  width: 100%;
  max-width: 80%;
}
.section-info-projects p,
.section-info-about {
  line-height: 22px;
  max-height: none;
  margin: 15px 0;
  font-size: 18px;
}

/* --------------------------- ABOUT -------------------------- */

#about {
  flex-direction: row;
}
.about-info-cmd {
  display: none;
  border-radius: 30px;
  width: 80%;
  position: relative;
  margin: 0 20px;
  height: 310px;
  padding: 30px 40px;
  box-shadow: 0 0 15px var(--shadow);
  background-color: var(--dark-background);
}
.about-info-cmd::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  box-shadow: 10px 100px 200px var(--light-shadow);
  animation: moveShadowBefore 30s ease-in-out infinite;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.about-info-cmd::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  animation: moveShadowAfter 30s ease-in-out infinite;
  box-shadow: -10px -100px 200px var(--light-shadow);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
@keyframes moveShadowAfter {
  0% {
    box-shadow: -10px -100px 200px var(--light-shadow);
  }
  50% {
    box-shadow: -500px -50px 200px var(--light-shadow);
    height: 100px;
    width: 100px;
  }
  100% {
    box-shadow: -10px -100px 200px var(--light-shadow);
  }
}
@keyframes moveShadowBefore {
  0% {
    box-shadow: 10px 100px 200px var(--light-shadow);
  }
  50% {
    box-shadow: 500px 100px 200px var(--light-shadow);
    height: 100px;
    width: 100px;
  }
  100% {
    box-shadow: 10px 100px 200px var(--light-shadow);
  }
}
.cmd {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}
.cmd .circle {
  width: 10px;
  height: 10px;
  margin: 2px;
  border-radius: 50%;
}
.cmd .circle:nth-child(1) {
  background-color: var(--cmd-red);
}
.cmd .circle:nth-child(2) {
  background-color: var(--cmd-yellow);
}
.cmd .circle:nth-child(3) {
  background-color: var(--cmd-green);
}
.about-info-cmd p {
  word-spacing: 5px;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 100;
}
.about-info-cmd .const {
  color: var(--cmd-const);
}
.about-info-cmd .objet {
  color: var(--cmd-objet);
}
.about-info-cmd .arr {
  color: var(--cmd-arr);
}
.about-info-cmd .prop {
  color: var(--cmd-prop);
  margin-left: 20px;
}
.about-info-cmd .text {
  color: var(--cmd-text);
}
.about-info-cmd .num {
  color: var(--cmd-num);
}
.about-info-cmd .tab {
  color: var(--cmd-tab);
}
.about-info-cmd .line {
  color: var(--cmd-line);
}
.about-info-cmd .brack {
  color: var(--cmd-yellow);
}
.about-info-cmd .cursor {
  font-size: 14px;
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------- TOLS --------------------- */

#tools {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#tools .tools-icon {
  font-size: 36px;
  opacity: 0.6;
  border-radius: 50%;
  margin: 20px;
}

/* --------------------------------- CONTANCT --------------------------------- */

.section-contact {
  background-color: var(--dark-background);
  box-shadow: 0 0 15px var(--shadow);
  width: 80%;
  max-width: 1030px;
  margin: 0 20px;
  padding: 30px;
  border-radius: 30px;
}
#contact h2 {
  font-size: 38px;
  margin-bottom: 10px;
}
.section-contact hr {
  width: 60%;
  margin: 25px 0;
}
.section-contact address {
  color: var(--letter);
  line-height: 2;
  margin: 20px 0;
}
.section-contact address a {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.section-contact-content h3 {
  color: var(--letter);
  font-size: 26px;
}
.section-contact-content p {
  width: 90%;
  color: var(--letter);
  font-size: 18px;
  line-height: 28px;
}
.social-networks {
  font-size: 26px;
}
.section-contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 100px;
  box-shadow: -100px 100px 200px var(--light-shadow);
  animation: light-move 12s ease-in-out infinite;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
@keyframes light-move {
  0% {
    box-shadow: -100px 100px 200px var(--light-shadow);
  }
  10% {
    box-shadow: -90px 110px 200px var(--light-shadow);
  }
  15% {
    box-shadow: -85px 105px 200px var(--light-shadow);
  }
  20% {
    box-shadow: -100px 100px 200px var(--light-shadow);
  }
  30% {
    box-shadow: -90px 90px 200px var(--light-shadow);
  }
  40% {
    box-shadow: -100px 80px 200px var(--light-shadow);
  }
  50% {
    box-shadow: -110px 105px 200px var(--light-shadow);
  }
  60% {
    box-shadow: -90px 100px 200px var(--light-shadow);
  }
  80% {
    box-shadow: -85px 95px 200px var(--light-shadow);
  }
  100% {
    box-shadow: -100px 100px 200px var(--light-shadow);
  }
}

/* -------------------- FOOTER --------------------- */

footer {
  min-height: 60px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 30px var(--shadow);
  background-color: var(--background);
  position: relative;
}
footer ul {
  width: 100%;
  text-align: center;
}
footer ul li {
  display: inline-block;
  margin: 0 10px;
}

/* ----------------- MEDIA QUERIES ----------------- */

@media (min-width: 806px) {
  nav {
    padding: 20px 15px;
    width: 60px;
  }
  .btn-Nav {
    padding: 0;
    top: 20px;
    width: 30px;
    height: 20px;
    background: none;
  }
  .main {
    width: 90%;
    padding-left: 60px;
    max-width: 1200px;
  }
  .header {
    flex-direction: row;
    height: 95vh;
    justify-content: space-between;
    text-align: start;
  }
  .card-perfil h1 {
    font-size: 38px;
  }
  .card-perfil h2 {
    line-height: 40px;
    font-size: 28px;
  }
  .card-perfil h3 {
    justify-content: flex-start;
    font-size: 28px;
    margin-top: 5px;
  }
  .img-perfil {
    top: 0;
  }
  .img-perfil img {
    height: 290px;
    width: 290px;
  }
  .img-perfil::before {
    height: 200px;
    left: -60px;
    top: 120px;
    width: 200px;
  }
  .img-perfil::after {
    box-shadow: -150px -100px 400px var(--light-shadow);
    height: 290px;
    width: 290px;
  }
  .see-more {
    right: 0;
  }
  section {
    flex-direction: row;
    align-items: flex-start;
  }
  .item-primary {
    width: 260px;
    height: 260px;
  }
  .about-info-cmd {
    display: block;
  }
  #tools .tools-icon {
    font-size: 58px;
  }
  footer ul {
    position: absolute;
    text-align: end;
    right: 10px;
    bottom: 22px;
  }
  .section-contact hr {
    width: 30%;
  }
  .section-contact-content p {
    width: 60%;
  }
}
@media (min-width: 980px) {
  .img-perfil img {
    height: 390px;
    width: 390px;
  }
  .img-perfil::before {
    height: 300px;
    left: -120px;
    top: 120px;
    width: 300px;
  }
  .img-perfil::after {
    box-shadow: -150px -100px 400px var(--light-shadow);
    height: 390px;
    width: 390px;
  }
  .item-primary {
    width: 350px;
    height: 350px;
  }
  footer {
    font-size: 16px;
  }
}
@media (min-width: 1360px) {
  section {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .about-info-cmd {
    width: auto;
    max-width: 850px;
  }
  .section-info-projects {
    padding: 10px;
    max-width: 280px;
  }
  .section-info-about {
    font-size: 14px;
    line-height: 18px;
    text-align: end;
    margin: 0;
    padding: 10px;
    max-width: 250px;
    max-height: 320px;
  }
  #about h2 {
    max-width: 900px;
  }
  #tools .tools-icon {
    margin: 40px;
    font-size: 62px;
  }
  .section-contact {
    width: 100%;
  }
}
