:root {
  scroll-behavior: smooth;
  --letter: #ffffff;
  --shadow: #00000044;
  --light-shadow: #a1fff144;
  --background: #202423;
  --dark-background: #121514;
  --light-background: #414645;
  --focus-background: #00ffd9;
  --cmd-yellow: #ffd500;
  --cmd-green: #6eff76;
  --cmd-red: #ff0000;
  --cmd-const: #4c68e3;
  --cmd-objet: #00aaff;
  --cmd-arr: #2dc7e2;
  --cmd-prop: #7fd0ff;
  --cmd-text: #f09939;
  --cmd-num: #66c3e6;
  --cmd-tab: #e54ee0;
  --cmd-line: #595959;
}
[data-theme="light"] {
  --letter: #202423;
  --shadow: #00000012;
  --light-shadow: #d167d1a9;
  --background: #f3f2ef;
  --dark-background: #fcfcfc;
  --light-background: #ffffff;
  --focus-background: #9a0085;
  --cmd-const: #3950b8;
  --cmd-objet: #0085c7;
  --cmd-arr: #25b3cc;
  --cmd-prop: #0da6ff;
  --cmd-text: #e0831f;
  --cmd-num: #00a1db;
  --cmd-tab: #a72fa3;
}
::-webkit-scrollbar {
  background-color: var(--background);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--focus-background);
}
::selection {
  background-color: var(--focus-background);
  color: var(--light-background);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  color: var(--letter);
}
body {
  background-color: var(--background);
  position: relative;
}

/* ------------------ TEXT DECORATION ANIMATED ------------------ */

.text-decoration-animated {
  position: relative;
  background-repeat: no-repeat;
  animation: text-decoration-in 0.5s cubic-bezier(0.694, 0, 0.335, 1) forwards;
  bottom: 0;
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-size: 51% 3px, 50% 3px;
}
.text-decoration-animated:hover {
  animation: text-decoration-out 0.3s cubic-bezier(0.694, 0, 0.335, 1) forwards;
}
.text-decoration-animated i {
  margin-left: 5px;
  transition: transform 0.25s 0.3s cubic-bezier(0, 0, 0.5, 2);
}
.text-decoration-animated:hover i {
  transform: translateX(6px);
}

@keyframes text-decoration-in {
  0% {
    background-position: -200% 75%, -100% 75%;
  }
  100% {
    background-position: 0 75%, 100% 75%;
  }
}

@keyframes text-decoration-out {
  0% {
    background-position: 0 75%, 100% 75%;
  }
  100% {
    background-position: 205% 75%, 300% 75%;
  }
}

.text-decoration-animated-p {
  position: relative;
  background-repeat: no-repeat;
  animation: text-decoration-in-p 0.5s cubic-bezier(0.694, 0, 0.335, 1) forwards;
  bottom: 0;
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-size: 51% 1px, 50% 1px;
}
.text-decoration-animated-p:hover {
  animation: text-decoration-out-p 0.3s cubic-bezier(0.694, 0, 0.335, 1) forwards;
}
.text-decoration-animated-p i {
  margin-left: 5px;
  transition: transform 0.25s 0.3s cubic-bezier(0, 0, 0.5, 2);
}
.text-decoration-animated-p:hover i {
  transform: translateX(6px);
}

@keyframes text-decoration-in-p {
  0% {
    background-position: -200% 100%, -100% 100%;
  }
  100% {
    background-position: 0 100%, 100% 100%;
  }
}

@keyframes text-decoration-out-p {
  0% {
    background-position: 0 100%, 100% 100%;
  }
  100% {
    background-position: 205% 100%, 300% 100%;
  }
}

/* -------------------------- BUTTONS -------------------------- */

.btn {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
}
.btn span {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 0.6s ease-in infinite;
}
@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.1;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* -------------------------- NAV -------------------------- */

nav {
  align-items: flex-start;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  position: fixed;
  width: 0;
  transition: 0.2s ease-in-out;
  z-index: 100;
  overflow: hidden;
}
nav[class="active"] {
  width: 350px;
  background-color: var(--shadow);
}
nav[class="active"] #nav-title {
  opacity: 0;
}
#nav-content {
  min-width: 200px;
  margin-left: 60px;
  padding: 0 0 90px;
}
#nav-content ul {
  font-size: 36px;
  line-height: 90px;
}
#nav-content a {
  color: var(--focus-background);
  font-weight: 700;
  transition: 0.4s ease-in-out;
  display: inline-block;
  margin: 5px 0;
}
#nav-content .fa-arrow-right {
  color: var(--focus-background);
  font-size: 22px;
  margin-left: 5px;
}
.nav-arrow {
  transform: rotate(-90deg);
}
.btn-Nav {
  z-index: 300;
  left: 15px;
  top: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  width: 45px;
  height: 45px;
  background-color: var(--background);
}
.nav-bars {
  height: 20px;
  width: 30px;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s ease-in-out;
}
.btn-active {
  transition: 0.3s 0.2s ease-in-out;
  transform: rotate(45deg);
}
.btn-active .bar {
  background-color: var(--focus-background);
}
.btn-active .bar:nth-child(1) {
  transform: rotate(90deg) translate(5px);
}
.btn-active .bar:nth-child(2) {
  transform: translateY(-5px);
}
.bar {
  background-color: var(--letter);
  height: 2px;
  transition: 0.3s ease-in-out;
  width: 90%;
}
#nav-title {
  cursor: pointer;
  position: absolute;
  margin-left: 10px;
  top: 35%;
  line-height: 20px;
  transition: 0.2s;
}
.Contact-button {
  background-image: url("../img/IMG_20200905_211704_821.jpg");
  background-size: cover;
  position: absolute;
  bottom: 20px;
  left: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--shadow);
  display: block;
  height: 30px;
  width: 30px;
}

/* -------------------------- TOGGLE THEME -------------------------- */

.toggle-theme {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  color: var(--focus-background);
  font-size: 18px;
  bottom: 0px;
  left: 75%;
  margin: 22px;
  transition: 0.4s;
}
/* -------------------------- HEADER -------------------------- */

.main {
  width: 100%;
  margin: auto;
}
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 95vh;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.card-perfil h1 {
  font-size: 28px;
}
.card-perfil h2 {
  line-height: 20px;
  font-size: 18px;
}
.card-perfil h3 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  margin-top: 5px;
}
.card-perfil .fab {
  font-size: 18px;
}
.card-perfil ul {
  padding-left: 10px;
}
.card-perfil ul li {
  display: inline-block;
  margin: 5px 10px;
}
.card-perfil a:hover i {
  color: var(--focus-background);
}
.card-perfil span {
  background-color: var(--focus-background);
  border-radius: 5px;
  min-width: 100px;
  font-size: 12px;
  margin-left: 5px;
  overflow: hidden;
  padding: 5px 10px;
}
.card-perfil span strong {
  animation: show-down 0.4s ease-in-out forwards;
  font-weight: 900;
  color: var(--light-background);
  position: relative;
}
@keyframes show-down {
  0% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

/* -------------------------- PERFIL IMAGEN -------------------------- */

.img-perfil {
  position: relative;
  top: 30px;
}
.img-perfil img {
  border-radius: 50%;
  height: 190px;
  width: 190px;
  box-shadow: 0 0 30px var(--shadow);
}
.img-perfil::before {
  background-color: var(--focus-background);
  box-shadow: 0 0 15px var(--shadow);
  content: "";
  height: 100px;
  left: -20px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 120px;
  width: 100px;
}
.img-perfil::after {
  content: "";
  box-shadow: 120px 10px 400px var(--light-shadow);
  height: 190px;
  width: 190px;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
}

/* -------------------------- ARROW & SEARCH FORM -------------------------- */

.see-more {
  position: absolute;
  bottom: 0;
}
.arrow {
  width: 40px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.line-arrow {
  width: 20px;
  height: 2px;
  background-color: var(--focus-background);
  margin: 0 -3.5px;
}
.line-arrow:nth-child(1) {
  transform: rotate(45deg);
}
.line-arrow:nth-child(2) {
  transform: rotate(-45deg);
}
.search-form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  top: 5px;
  right: 10px;
}
#search-input {
  background: none;
  border: none;
  outline: none;
  width: 0px;
  transition: 0.3s;
  font-size: 18px;
  padding: 5px;
  font-weight: 100;
}
#search-input[class="active"] {
  width: 200px;
  border-bottom: 1px solid var(--focus-background);
}
#search-button {
  background: none;
  border: none;
}
#search-button[class="active"] {
  border-bottom: 1px solid var(--focus-background);
}
#search-button[class="active"] .circle-search {
  border-color: var(--focus-background);
}
#search-button[class="active"] .line-search {
  background-color: var(--focus-background);
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.circle-search {
  width: 15px;
  height: 15px;
  border: 2px solid var(--letter);
  border-radius: 50%;
}
.line-search {
  width: 10px;
  height: 2px;
  background-color: var(--letter);
}

/* --------------------------- SECTION -------------------------- */

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
}
section h2 {
  font-size: 38px;
  align-self: flex-start;
}
.item-primary {
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 0 15px var(--shadow);
  width: 300px;
  height: 300px;
  background-color: var(--light-background);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.item-see-more {
    position: absolute;
    font-size: 9px;
    width: 80px;
    box-shadow: 0 0 10px var(--shadow);
    transition: .2s;
    height: 60px;
    line-height: 60px;
    top: -70px;
    text-align: center;
    right: 40px;
    border-radius: 0 0 15px 15px;
    background-color: var(--background);
}
.item-primary:hover .item-see-more {
    top: 0;
}

.section-info-projects, .section-info-about {
  margin: 30px 10px;
  padding: 10px;
  width: 100%;
  max-width: 80%;
}
.section-info-projects p, .section-info-about {
  line-height: 18px;
  margin: 15px 0;
  font-size: 14px;
}

/* --------------------------- LAST PROJECTS -------------------------- */


/* --------------------------- ABOUT -------------------------- */

#about {
  flex-direction: row;
}
.about-info-cmd {
  display: none;
  border-radius: 30px;
  position: relative;
  margin: 0 20px;
  padding: 30px 40px 60px;
  box-shadow: 0 0 15px var(--shadow);
  background-color: var(--dark-background);
}
.about-info-cmd::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  box-shadow: 10px 100px 200px var(--light-shadow);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.about-info-cmd::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  box-shadow: -10px -100px 200px var(--light-shadow);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.cmd {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}
.cmd .circle {
  width: 10px;
  height: 10px;
  margin: 2px;
  border-radius: 50%;
}
.cmd .circle:nth-child(1) {
  background-color: var(--cmd-red);
}
.cmd .circle:nth-child(2) {
  background-color: var(--cmd-yellow);
}
.cmd .circle:nth-child(3) {
  background-color: var(--cmd-green);
}
.about-info-cmd p {
  word-spacing: 5px;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 100;
}
.about-info-cmd .const {
  color: var(--cmd-const);
}
.about-info-cmd .objet {
  color: var(--cmd-objet);
}
.about-info-cmd .arr {
  color: var(--cmd-arr);
}
.about-info-cmd .prop {
  color: var(--cmd-prop);
  margin-left: 20px;
}
.about-info-cmd .text {
  color: var(--cmd-text);
}
.about-info-cmd .num {
  color: var(--cmd-num);
}
.about-info-cmd .tab {
  color: var(--cmd-tab);
}
.about-info-cmd .line {
  color: var(--cmd-line);
}
.about-info-cmd .brack {
  color: var(--cmd-yellow);
}
.about-info-cmd .cursor {
  font-size: 14px;
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------- TOLS --------------------- */

#tools {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#tools .tools-cars {
  font-size: 22px;
  height: 30px;
  width: 30px;
  background-color: var(--light-shadow);
  border-radius: 50%;
  margin: 20px 20px;
}

/* --------------------------------- CONTANCT --------------------------------- */

.section-contact {
  background-color: var(--dark-background);
  box-shadow: 0 0 15px var(--shadow);
  width: 90%;
  max-width: 1030px;
  margin: 0 auto 60px;
  padding: 30px;
  border-radius: 30px;
}

#contact h2 {
  font-size: 38px;
  margin-bottom: 10px;
}
.section-contact hr {
  width: 30%;
  margin: 25px 0;
}
.section-contact address {
  color: var(--letter);
  margin: 20px 0;
}
.section-contact address a {
  overflow: hidden;
  position: relative;
}
.section-contact-content h3 {
  color: var(--letter);
  font-size: 26px;
}
.section-contact-content p {
  width: 60%;
  color: var(--letter);
  font-size: 18px;
  line-height: 28px;
}
.social-networks {
  font-size: 26px;
}



/* -------------------- FOOTER --------------------- */

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 30px var(--shadow);
  position: relative;
}
footer ul {
  width: 100%;
  text-align: center;
}
footer ul li {
  display: inline-block;
  margin: 0 10px;
}

/* ----------------- MEDIA QUERIES ----------------- */

@media (min-width: 806px) {
  nav {
    padding: 20px 15px;
    width: 60px;
  }
  .btn-Nav {
    padding: 0;
    top: 20px;
    width: 30px;
    height: 20px;
    background: none;
  }
  .main {
    width: 80%;
    max-width: 1200px;
  }
  .header {
    flex-direction: row;
    height: 95vh;
    justify-content: space-between;
    text-align: start;
  }
  .card-perfil h1 {
    font-size: 38px;
  }
  .card-perfil h2 {
    line-height: 40px;
    font-size: 28px;
  }
  .card-perfil h3 {
    justify-content: flex-start;
    font-size: 28px;
    margin-top: 5px;
  }
  .img-perfil {
    top: 0;
  }
  .img-perfil img {
    height: 390px;
    width: 390px;
  }
  .img-perfil::before {
    content: "";
    height: 300px;
    left: -120px;
    top: 120px;
    width: 300px;
  }
  .img-perfil::after {
    content: "";
    box-shadow: -150px -100px 400px var(--light-shadow);
    height: 390px;
    width: 390px;
    left: 0;
    top: 0;
  }
  .see-more {
    right: 0;
  }
  section {
    flex-direction: row;
    align-items: flex-start;
  }
  .item-primary {
    width: 260px;
    height: 260px;
  }
  .about-info-cmd {
    display: block;
  }
  #tools i {
    font-size: 26px;
    margin: 20px 30px;
  }
  footer ul {
    position: absolute;
    text-align: end;
    right: 10px;
    bottom: 22px;
  }
}
@media (min-width: 980px) {
  .item-primary {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 1360px) {
  section {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .section-info-projects {
    padding: 10px;
    max-width: 280px;
  }
  .section-info-about {
    text-align: end;
    margin: 0;
    padding: 10px;
    max-width: 250px;
  }
  #about h2 {
    max-width: 900px;
  }
}